.our-services-container {
  width: 100%;
  background: linear-gradient(to right, #fcd34d, #f59e0b, #d97706);
  padding-top: 50px;
  height: 100vh;
  z-index: 5;
}

.our-services-title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  width: 100%;
}

.service-item {
  position: relative;
  overflow: hidden;
}

.service-item img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: 15%;
}

.service-name {
  margin-left: 15%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 932px) and (orientation: landscape) {

  .our-services-container {
    height: 200vh;
    z-index: 5;
  }
}